<?php

// Copy to .src/Example/Config.php and fill the keys
$config = [
    'key' => 'key',
    'secret' => 'secret',
    'region' => 'region',
    'queue' => 'queue',
    'provider' => 'sqs',
    'defaultMaxDelay' => 5,
    'storage' => [
        'host' => 'host',
        'user' => 'user',
        'password' => 'password',
        'dbname' => 'dbname',
    ],
    'notification' => [
        'slack' => [
            'url' => 'url'
        ]
    ]
];